<!--
    heavily inspired by code created by Sebastian Persson on YouTube
    https://www.youtube.com/watch?v=IrbCIFBFswE 
-->

<header>
    <nav id="main-menu">
        <ul>
            <!--logo-->
            <li class="branding">
                <a routerLink="/home"><img class="logo" src="/assets/HiHat_logo_white_original.png" alt="logga" ></a>
            </li>

            <!--hamburger icon-->
            <li class="hamburger" (click)="toggleMainMenu()">
                <i class="material-icons">{{ isMainMenuOpen ? "close" : "menu" }}</i>
            </li>

            <!--menu content-->
            <li class="menu-content" [class.is-open]="isMainMenuOpen">
                <a class="menu-item top-item" routerLink="/home">Hem</a>
                <!-- <button class="menu-item no-style" matButton [matMenuTriggerFor]="servicesMenuSmall">Tjänster</button>
                    <mat-menu #servicesMenuSmall="matMenu" panelClass="custom-menu">
                        <button mat-menu-item class="services-menu-item"><a  routerLink="/podd">Poddklippning</a></button>
                        <button mat-menu-item><a class="services-menu-item" routerLink="/event">Eventplanering</a></button>
                </mat-menu> -->
                <a class="menu-item" routerLink="/podd" >Poddklippning</a>
                <a class="menu-item" routerLink="/event" >Eventplanering</a>
                <a class="menu-item" routerLink="/course" >Kurs</a>
                <a class="menu-item" routerLink="/about" >Om mig</a>
                <a class="menu-item" routerLink="/contact" >Kontakt</a>
            </li>
        </ul>
    </nav>
</header>



